backcall==0.2.0
bcrypt==3.1.4
cffi==1.15.1
colorama==0.4.5
decorator==5.1.1
Django==2.2.4
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
parso==0.7.1
pickleshare==0.7.5
prompt-toolkit==3.0.36
pycparser==2.21
Pygments==2.13.0
pytz==2022.6
six==1.16.0
traitlets==4.3.3
wcwidth==0.2.5
